body, html{
    margin: 0;
    font-weight: 400;
    height: 100%;
}
h1 {
    text-align: center;
}

/* rules for image background on click */
#start {
    background-image: none;
    background-color: white;
}
/* navbar for background color choices */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}



.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

ul.nav-menu li a {
    color: #0275d8;
    text-decoration: none;
}
ul.nav-menu li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}


.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: red;
}



@media only screen and (max-width: 600px) {
    .nav-menu {
        position: fixed;
        left: -111%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}